html[data-theme="dark"] {
  --base00: #373e47;
  --base01: #444c56;
  --base02: #545d68;
  --base03: #909dab;
  --base04: #adbac7;
  --base05: #cdd9e5;
  --base06: #e7f3f4;
  --base07: #ffffff;
  --base08: #d40059;
  --base09: #ff5c00;
  --base0a: #d9b600;
  --base0b: #6bac00;
  --base0c: #00a8e0;
  --base0d: #b37eff;
  --base0e: #00af9e;
  --base0f: #ff66c2;
}

html[data-theme="dark"] {
  --background: #22272e;
  --blockquote: #373e47;
  --selection: #545d68;
  --meta: #909dab;
  --link: #00a8e0;
  --header-background: #2a3444;
  --header-text: #e7f3f4;
  --header-link: #adbac7;
  --code-background: #2a3444;
  --code-inline: #d9b600;
  --text-shadow: #2d333b;
  --text: #cdd9e5;
  --h1: #ffffff;
  --h2: #b37eff;
  --h3: #ff66c2;
  --h4: #00af9e;
  --h5: #6bac00;
  --h6: #ff5c00;
  --border: rgba(255, 255, 255, 0.5);
  --cusdis--color-text-default: var(--text);
  --cusdis--color-comment-username-text: var(--link);
}

